<template>  
  <v-container>
    <v-divider></v-divider>
    <v-row >  
      <v-col>
        <!-- TOOLBAR -->
        <v-row>
          <v-col class="d-flex" cols="12">
            <v-row >
              <v-col xs="5" xl="8" lg="8" md="8" sm="6">
                Editar Artículo
              </v-col>
              <v-col align="right" xl="2" lg="2" md="2" sm="4" xs="3">
                <!-- BTN ATRAS -->
                <v-btn 
                  small
                  class="ma-2" 
                  color="blue lighten-2" 
                  :to="{name:'catproductos'}" 
                  dark>Atras
                </v-btn>
              </v-col>
              <v-col align="right" xl="2" lg="2" md="2" sm="4" xs="3">
                <!-- BTN GUARDAR -->
                <v-btn 
                  small 
                  dark 
                  class="ma-2" 
                  @click.prevent="agregar"
                  color="blue darken-3">Grabar
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
          
          <v-divider></v-divider>

          <v-col cols="7">
            <v-text-field
              readonly
              label="Código"
              v-model="codigo"
              validate-on-blur
              class="pa-0"  
              outlined hide-details 
            ></v-text-field>
          </v-col>
          <v-col cols="3">
            <v-switch v-model="statusweb" label="Activo en tienda" ></v-switch>
          </v-col>

          <v-col  cols="12" xl="6" lg="6" md="6" sm="12" xs="12">
            <v-text-field
              label="Nombre del artículo"
              v-model="nomart"
              outlined 
              hide-details 
            ></v-text-field>
          </v-col>

          <v-col  cols="12" xl="6" lg="6" md="6" sm="12" xs="12">
            <v-select 
              outlined
              :items="laboratorios"
              v-model="laboratorio"
              item-text="nomlab"
              item-value="idlaboratorios" 
              label="Laboratorio"
              persistent-hint
              return-object
              single-line
            ></v-select>
          </v-col>

          <v-col >
            <v-textarea
              label="Compuesto"
              v-model="sal"
              outlined 
              hide-details 
              >
              
            </v-textarea>
          </v-col>
          <v-col >
            <v-textarea
              label="Descripción"
              v-model="producto.descrip"
              outlined 
              hide-details 
              >
              
            </v-textarea>
          </v-col>
          
          <v-col cols="12">
            <v-alert type="error" :value="alertaInput">
              {{alerta}}
            </v-alert>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
             
    <!-- SNACK BAR -->
    <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      :color="color" 
      >
      {{text}}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        Cerrar
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
  import {mapGetters} from 'vuex'
  export default {
    data () {
      return {
        statusweb: false,
        producto:{},
        activeTab: '',
        items: [
          { tab: 'One', content: 'Tab 1 Content' },
          { tab: 'Two', content: 'Tab 2 Content' },
          { tab: 'Three', content: 'Tab 3 Content' },
          { tab: 'Four', content: 'Tab 4 Content' },
          { tab: 'Five', content: 'Tab 5 Content' },
          { tab: 'Six', content: 'Tab 6 Content' },
          { tab: 'Seven', content: 'Tab 7 Content' },
          { tab: 'Eight', content: 'Tab 8 Content' },
          { tab: 'Nine', content: 'Tab 9 Content' },
          { tab: 'Ten', content: 'Tab 10 Content' },
        ],

        laboratorios:[],
        laboratorio: {nomlab:'', idlaboratorios:''},

        existe: true,

        snackbar: false,
        text:'',
        color:'',

        codigo:'',
        result2:'',
        nomart:'',
        sal:'',
        lab:'',

        alerta:'',
        alertaInput: false
      }
    },


    computed: {
      ...mapGetters('productos',['getProducto']),
      validaInfo(){
        return  this.nomart      !==  '' && 
                this.sal         !==  '' &&       
                this.laboratorio.idlaboratorios         !==  '' 
      },
    },

    created(){
      this.codigo = this.getProducto.codigo
      this.cargarInfo()

      this.nomart = this.getProducto.nomart
      this.sal = this.getProducto.sal
      // this.lab = this.getProducto.lab
      this.$http.get('movil/laboratorios.list').then(response=>{
        if(response.body.length > 0){
          this.laboratorios = response.body
          this.laboratorios.forEach((element) =>{
            if(element.nomlab == this.getProducto.lab){
              this.laboratorio = {nomlab: element.nomlab, idlaboratorios: element.idlaboratorios}
            }
          })
        }
      }).catch(error=>{
        console.log('error',error)
      })

    },

    methods:{
      cargarInfo(){
        this.$http.get('articulos.codigo/'+ this.codigo).then(response=>{
          this.producto = response.data[0]
          console.log(this.producto)
          this.statusweb = !!+ this.producto.statusweb 
          this.laboratorio = {idlaboratorios: this.producto.idlaboratorio, nomlab: this.producto.nomlab}
        }).catch(error=>{console.log(error)})
      },

      agregar(){
        this.alerta = ''
        if(!this.validaInfo){
          if(!this.nomart){
            this.alerta = this.alerta +`
            No has asignado un nombre al articulo`
          }
          if(!this.sal){
            this.alerta = this.alerta +`
            No has asignado un compuesto  al articulo`
          }
          if(!this.laboratorio.idlaboratorios){
            this.alerta = this.alerta +`
            No has asignado un laboratorio al articulo`
          }
          this.alertaInput = true
        }else{

          var payload = {
            nomart: this.nomart,
            sal:    this.sal,
            idlaboratorio: this.laboratorio.idlaboratorios,
            descrip:  this.producto.descrip,
            precio1: this.producto.precio1,
            statusweb: this.statusweb,
            pjedesc: this.producto.pjedesc,
          }

          if(this.statusweb == true){
            payload.statusweb = 1
          }else{
            payload.statusweb = 0
          }

          console.log(payload)

          this.$http.put('admin/articulos.update/'+ this.getProducto.id, payload).then(response=>{
            this.text  = 'Artículo actualizado'
            this.snackbar = true
          })

        }
      },

    }

  }

</script>