<template>  
  <v-container>
  	<v-card>
	    <v-tabs
	      v-model="activeTab"
	      background-color="white"
	    >
	      <v-tab key="/editproduct" to="/editproduct" ripple>
	        Información
	      </v-tab>

	      <v-tab key="/imgproduct" to="/imgproduct" ripple>
	        Imágenes
	      </v-tab>

	      <v-tab key="/preciosart"  to="/preciosart" ripple>
	        Precios 
	      </v-tab>


		    <v-tab-item id="/editproduct">
		    	<info/>
		    </v-tab-item>

		     <v-tab-item id="/imgproduct">
		    	<ImgProducto/>
		    </v-tab-item>

		    <v-tab-item id="/preciosart">
		    	<PreciosArt/>
		    </v-tab-item>

	    </v-tabs>
  	</v-card>

  </v-container>
</template>

<script>
  import {mapGetters} from 'vuex'
  import info from '@/views/clasificacion/arts/EditProducto.vue'
  import ImgProducto from '@/views/clasificacion/arts/ImgProducto.vue'
  import PreciosArt from '@/views/clasificacion/arts/PreciosArt.vue'
  export default {
  	components:{
  		info,
  		ImgProducto,
  		PreciosArt
  	},

    data () {
      return {
        activeTab: '/editproduct',
      }
    },

    cretaed(){
    	this.$router.push({name:'editproduct'}).catch(error=>{console.log(error)})
    }
  }

</script>